
<h2>User Profile</h2>
<%= @user.emal %><br /> 
<%= @user.name %><br />
<div class="btn-group">
 <%= link_to "Edit", edit_user_path %> |  <%= link_to "Delete", :confirm => "Are you sure?", :method => :delete, :class => "btn" %> 
<%= link_to "New Event", new_event_path, :class => "btn" %>
</div>

