<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Event name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% Event.all.each do |f| %>
      <tr>
        
        <td><%= f.name %></td>
        <td><%= f.description %></td>
        <td><%= f.location %></td>
        <td><%= f.date %></td>
        <td><%= link_to "Show", event_path(f) %></td>
        <td><%= link_to "Edit", edit_event_path(f)  %></td>
        <td><%= link_to "Destroy", event_path(f), method: :delete, data: { confirm: "Are you sure?" }  %></td>        

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="btn-group">
<%= link_to "New Event", new_event_path, :class => "btn"%>
</div>
